body{
    background-color: rgb(161, 128, 192);
}
header{
    background-color: rgb(22, 29, 63);
    padding: 15px

}
.link{
    text-decoration: none;
    color: rgb(161, 128, 192);
}
.blogpost{
    background-color:rgb(103, 81, 122);
    border: 2px solid rgb(161, 128, 192);
    border-radius: 5%;
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 20px;
    color: rgb(161, 128, 192);
}
.date{
    color: rgb(161, 128, 192);
    float: right;
}
.nav-li{
    display: inline-block;
    margin-left: 3%;
    
}
.nav-li{

}
.content{
    margin: 20%;
    width: 75%;
}
.content h2{
    margin-left: 10%;
    font-size: 410%;
}
.post_text{
    border-top: 10px double rgb(103, 81, 122);
    border-bottom:10px double rgb(103, 81, 122) ;
}
.post_text p{
    font-size: 20px;
}